html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body
{
	font-family: 'Manrope', sans-serif;
}

#mainNavbar .navbar-brand
{
	color:#70B8F8;
	font-weight: 200 !important;
	
}
#mainNavbar .nav-link
{
	float:right;
	color: white;
}
#mainNavbar .nav-link:hover
{
	color:red;
}
#mainNavbar
{
	font-size: 1.2rem;
	font-weight: 200;
}
.navbar.scrolled {
    background: #323334;
    transition: background 300ms;
}
/*============================================]*/
#about {
  background-color: black !important;
}
#skills {
  background-color: darkcyan !important;
}
#contact{
  background-color: tomato !important;
}
.bg-primary {
  background-image: url("https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");!important;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.soc
{
	padding-top: 100px;
}
.lead
{
	text-align: center;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.navbar
{
	height:40px;
}
.fir
{
	margin-right: 25px;
}
.ski
{
	list-style: none;
	margin-right: 30px;
        margin-top:20px;
}
.photo
{
	margin-top: 200px;
	height:250px;
	width: 400px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}
.page-section {
  padding: 6rem 0;
}

.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 5.25rem;
  height: 5.25rem;
  font-size: 3.25rem;
  justify-content: center;
  align-items: center;

}

.conn
{
	text-align: center;
}
.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}
.copyright {
  background-color: #1a252f;
}
.p-4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
