html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Manrope", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*------------------------------------------------NAVBAR CSS--------------------------------------------------------------*/
.header1 {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}
.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
  transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0rem;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  /* background-color: aqua; */
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.nav .menu-nav__item {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: #ff652f;
}

.nav .menu-nav__link {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 1rem;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #ff652f;
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
  transition-delay: 0.55s;
}

/*----------------------------------------------------------------------------------------------------------------*/
#about {
  background-color: black !important;
}
#skills {
  background-color: #0c3d3d !important;
}
#contact {
  background-color: #c57251 !important;
}
.my_name {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 4px;
  animation-name: myname;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes myname {
  0% {
    transform: scale(1.5);
  }
}
.desc {
  font-weight: 200;
  margin: 0.4em 0;
  font-size: 2.2em;
  color: #fff;
}
.coffee {
  font-size: 1.5rem;
  font-weight: 700;
}
.about_desc {
  text-align: center;
  margin-top: 4px;
  font-size: 1.2rem;
}
@keyframes desc {
  0% {
    transform: rotateX(180deg);
  }
}
.bg-primary {
  background-image: url("./image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.soc {
  padding-top: 40px;
}

.lead {
  text-align: center;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.fir {
  margin-right: 25px;
  margin-top: 25px;
}
.skills-heading {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 2px 2px #272727;
}
.skills-list {
  list-style: none;
  margin-right: 10px;
  font-size: 1.5rem;
  /* margin-bottom: 20px; */
}
.skill{
  margin-bottom: 1.8rem;
}
.photo {
  margin-top: 100px;
  height: 200px;
  width: 200px;
}
.top-section {
  height: 100vh;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}
.page-section {
  padding: 8rem 0;
  display: flex;
  height: 100%;
}
.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
  /* margin-top: 0.rem; */
}
@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 5.25rem;
  height: 5.25rem;
  font-size: 3.25rem;
  justify-content: center;
  align-items: center;
}
.conn {
  text-align: center;
}
.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}
.copyright {
  background-color: #1a252f;
}
.p-4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.Interest {
  padding-top: 2rem;
  margin: 1rem;
}
/*---------------------------------------------Blogs Section---------------------------------------------------*/
@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
}
