/* Standard CSS */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*------------------------------------------------NAVBAR CSS--------------------------------------------------------------*/
.header1 {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}
.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  position: absolute;
  width: 28px;
  height: 3px;
  background: #000;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  right: 0;
  top: 0.5rem;
}

.menu-btn__burger::before {
  content: "";
  top: -8px;
}

.menu-btn__burger::after {
  content: "";
  top: 8px;
  width: 20px;
}

.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0rem;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.nav .menu-nav__item {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: #ff652f;
}

.nav .menu-nav__link {
  display: inline-block;
  color: #000;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 1rem;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #ff652f;
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
  transition-delay: 0.55s;
}
/*---------------------------------------------Navbar Responsive---------------------------------------------------*/
@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
}

/*--------------------------------------------------Intro Section--------------------------------------------*/
.top-section {
  text-align: left;
  padding-top: 200px;
  padding-left: 300px;
  
}

.intro {
  font-size:xxx-large;
  font-weight: 600;
  letter-spacing: 2px;
}
.highlight {
  color: #b2d8d8; 
}

.about-new{
  width: 80%;
  font-weight: 300;
}


@media (max-width: 360px) {
  .top-section {
    height: 125vh;
  }
}

/* Skills */

.card-section {
  width: 80%;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 200px;
  background-color: #48cae4;
  padding: 80px;
  border-radius: 10px;
  color: #000;
}

.card-section:hover {
  background-color: #90e0ef;
  transform: scale(1.02);
  transition: background-color 0.3s, transform 0.3s;
}

.card-section h2 {
  margin-top: 0;
}

.card-section p {
  margin-bottom: 10px;
}

.tech-skills {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-name {
  font-size: 15px;
  font-family: poppins, sans-serif;
}
/*----------------------------------------------------------------------------------------------------------------*/
/* Contact */

.card-section-contact {
  width: 80%;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 200px;
  background-color: #ade8f4;
  padding: 80px;
  border-radius: 10px;
  color: white;
  color: #000;
}

.card-section-contact:hover {
  background-color: #79beca;
  transform: scale(1.02);
  transition: background-color 0.3s, transform 0.3s;
}

.contact-urls{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-btn-icons {
  border-radius: 100%;
  display: inline-flex;
  width: 4.25rem;
  height: 4.25rem;
  font-size: 2.25rem;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------Footer Section-------------------------------------------------*/

.copyright {
  margin-top: 50px;
  background-color: #1a252f;
}
.p-4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
